@import '../variables';

.categories {
	@media (max-width: 767.98px) {
		overflow: hidden;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 16px 10px;

		@media (max-width: 767.98px) {
			overflow: auto;
			flex-wrap: nowrap;
			padding-bottom: 10px;
		}

		li {
			background-color: #f9f9f9;
			padding: 13px 30px;
			border-radius: 30px;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.1s ease-in-out;
			@include noselect();

			&:hover {
				background-color: darken(#f9f9f9, 8%);
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
			}

			&.active {
				background-color: #282828;
				color: #fff;
				cursor: auto;
			}
		}
	}
}