@import '../variables';

.header {
	border-bottom: 1px solid $gray-line;
	padding: 40px 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: 15px;

		img {
			transition: transform 0.3s ease-in-out;

			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.2);
				}
			}
		}

		a {
			h1 {
				transition: color 0.3s ease;

				@media (any-hover: hover) {
					&:hover {
						color: $orange;
					}
				}
			}
		}

		h1 {
			color: #181818;
			font-size: 24px;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			font-weight: 800;
		}

		p {
			color: #7b7b7b;
		}
	}
}